body {
	background-color:#101010;
	color:#dadada;
	font-family:roboto;
	font-size:max(1vw,12px);
	margin:0;
	padding:0;
}

h3 {
	position:relative;
	display:inline;
	font-size:max(1.2vw,14px);
}

.row {
	position:relative;
	width:100%;
	display:flex;
	clear:both;
	margin:0;
	padding:0;
}

.column {
	position:relative;
	display:table;
	float:left;
	margin:0;
}

.teamctrl {
	padding:1.5vh;
	position:relative;
	background-color:#404040;
	width:20%;
	height:97vh;
}

.textfield {
	position:relative;
	background-color:rgb(0, 0, 0, 0.5);
	padding:0;
	border:none;
	color:#ffffff;
	font-family:roboto;
	font-size:max(1vw,12px);
	width:78%;
}

input[type="color"] {
	padding:0;
	border:none;
	width:18%;
	height:max(1.3vw,12px);
}

.boardctrl {
	position:relative;
	background-color:#252525;
	width:60%;
	height:100vh;
}

/* Scoreboard Containers [Z-Index 1] */
.sbrow {
	position:relative;
	width:100%;
	display:flex;
	clear:both;
	margin:0;
	padding:0;
	padding-top:56.25%;
	background-color:#004560;
}

.sbcolumn {
	z-index:1;
	flex:1;
	clear:both;
	margin:0;
}

.sbTeamA {
	background-color:#10cc69;
	float:left;
}

.sbTeamB {
	background-color:#cc1042;
	float:right;
}