body {
	background-color:#080808;
	color:#dadada;
	font-family:roboto, sans-serif;
	font-size:max(1vw,12px);
	margin:0;
	padding:0;
}

form {
	text-align:center;
}

.pagecontain {
	display:flex;
	flex-direction:column;
	height:200vh;
}

.row {
	position:relative;
	width:100%;
	display:flex;
	clear:both;
	margin:0;
	padding:0;
}

.sbrow {
	position:relative;
	width:100%;
	display:flex;
	clear:both;
	justify-content:center;
	margin:0;
	padding:0;
}

.mainpanels {
	height:calc(33.75vw+1.5vh);
}

.optionpanels {
	background-color:#303030;
	height:3.75vh;
}

.column {
	position:relative;
	display:table;
	float:left;
	margin:0;
}

.teamcol {
	padding:1.5vh;
	display:flex;
	justify-content:center;
	position:relative;
	background-color:#202020;
	width:20vw;
	height:33.75vw;
}

.textfield {
	position:relative;
	background-color:#303030;
	padding:0;
	border:none;
	color:#ffffff;
	text-align:center;
	font-family:roboto, sans-serif;
	font-size:max(1vw,12px);
	height:max(1.5vw,14px);
}

.teamtf {
	width:78%;
}

input[type="color"] {
	padding:0;
	border:none;
	width:18%;
	height:max(1.3vw,12px);
}

.boardcol {
	padding:1.5vh;
	position:relative;
	background-color:#101010;
	display:flex;
	align-items:center;
	justify-content:center;
	width:60vw;
	height:33.75vw;
}

/* Team Controls */
.teambutton {
	position:relative;
	border:none;
	border-radius:6px;
	font-family:roboto, sans-serif;
	font-size:2em;
	text-align:center;
	width:4.25vw;
	height:4.25vw;
	cursor:pointer;
}

.resetcounter {
	font-family:roboto, sans-serif;
	font-size:1.5em;
}

/* Scoreboard Containers [Z-Index 1] */
.scoreboard {
	width:100%;
	height:100%;	
	display:flex;
	flex-direction:column;
	align-items:center;
	clear:both;
	margin:0;
}

.sbteamcontent {
	background-color:rgb(0, 0, 0, 0.55);
	margin:1.5vh;
	padding:0.5vh;
	justify-content:center;
}

.scoreBox {
	font-weight:bold;
	font-size:max(8vw,12px);
	width:30%;
	height:8vw;
	margin:0;
	padding:0;
	text-align:center;
	align-items:center;
	line-height:8vw;
	display:inline-block;
}

#sbTeamAname, #sbTeamBname {
	font-size:max(1.75vw,12px);
	font-weight:bold;
	align-items:center;
	justify-content:center;
	text-align:center;
	text-overflow:ellipsis;
	width:43%;
}

#sbTeamAposs, #sbTeamBposs {
	font-size:max(3.5vw,12px);
	text-align:center;
	display:flex;
	align-items:center;
	width:7.5%;
	line-height:8vw;
	height:8vw;
}

#sbMatchTitle {
	background-color:#ffffff;
	color:#000000;
	margin-top:2vh;
	padding-left:2vh;
	padding-right:2vh;
}

#versus {
	background-color:#000000;
	color:#ffffff;
	margin-top:1.5vh;
	margin-bottom:1.5vh;
	width:2vw;
}

#sbVersusGap {
	width:15%;
}

.sbothercontent {
	padding:0.5vh;
	padding-left:2vh;
	padding-right:2vh;
	font-family:roboto, sans-serif;
	font-size:max(1.75vw,12px);
	font-weight:bold;
	align-items:center;
	justify-content:center;
}